<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/toebeanslogo.ico">
    <title><%= title || "ToeBeans" %></title>


    
    </head>
    <body>
      <nav id="themebanner" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul>
              <li class="nbar_centre">
                <a href="/"> <img src="/img/tbName.png" alt="Toebeans Vet Finder" class="nbar_logo"> </a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/map"> <img src="/img/map.png" alt="Map" class="nbar_navs"> </a>
              </li>
              <li class="nav-item" id="profile">
                <a class="nav-link" href="/profile"><img src="/img/profile.png" alt="Profile" class="nbar_navs"></a>
              </li>
              <li class="nav-item" id="pet_profile">
                <a class="nav-link" href="/pet_profile"><img src="/img/petprofile.png" alt="Pet Profile" class="nbar_navs"></a>
              </li>
              <li class="nav-item" id="settings">
                <a class="nav-link" href="/settings"><img src="/img/settings.png" alt="Settings" class="nbar_navs"></a>
              </li>
              
              
            </ul>
  
            <form class="form-inline my-2 my-lg-0">
              <a class="btn btn-outline-success my-2 my-sm-0" href="/sign_out" id="signUpLink"><img src="/img/signout.png" alt="Sign Out" class="nbar_navs"></a>
              <a class="form-control mr-sm-2" href="/sign_in" id="signInLink"><img src="/img/signin.png" alt="Sign In" class="nbar_navs"></a>
            </form>
            </div>
          </div>
        </nav>
          
      </div>
      <main class="remove_vbar">

        <!-- <div class="topofscreen themebanner"> -->
      
      <!-- Bootstrap Nav Bar -->
    