<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/toebeanslogo.ico">
    <title><%= title || "ToeBeans" %></title>
    

    
    </head>
    <body class="theme-loading">
      <nav id="themebanner" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">

          
          
          <button id="hb-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            
            <ul class="navbar-nav mr-auto ">
              
              <li class="nav-item d-lg-block d-none">
                <a class="nav-link" href="/map"> <img src="/img/mapClear1.png" alt="Map" class="nbar_navs paddingrt"> </a> 
              </li>
              <li class="nav-item d-lg-block d-none profileshow hidden" id="profile">
                <a class="nav-link" href="/profile"><img src="/img/profileClear1.png" alt="Profile" class="nbar_navs"> </a>
              </li>
              <li class="nav-item d-lg-block d-none petshow hidden" id="pet_profile">
                <a class="nav-link" href="/pet_profile"><img src="/img/petprofileClear1.png" alt="Pet Profile" class="nbar_navs"> </a>
              </li>
              <li class="nav-item d-lg-block d-none settingsshow hidden" id="settings">
                <a class="nav-link" href="/settings"><img src="/img/settingsClear1.png" alt="Settings" class="nbar_navs paddingrt"></a>
              </li>
              
              <li class="nav-item d-lg-block d-none signout hidden">
                <a class="nav-link" href="/sign_out"><img src="/img/signoutClear1.png" alt="Sign Out" class="nbar_navs"> </a>
              </li>
              <li class="nav-item d-lg-block d-none signin">
                <a class="nav-link" href="/sign_in"><img src="/img/signinClear1.png" alt="Sign In" class="nbar_navs"> </a>
              </li>
              </ul>

              <!-- If screen is medium or small, default to text and hamburger menu -->
              <ul id="hbmenuscreen">
                <div class="hb-header" id="hb-header">
                  <span id="hb-close">&times;</span>
                  <p class="header-title"><img src="/img/sidebarLogo2.png" alt="Toebeans"></p>
                </div>
              <li class="nav-item d-md-block d-lg-none"> 
                <a class="nav-link" href="/map"> Map </a>
              </li>
              <li class="nav-item d-md-block d-lg-none profileshow"> 
                <a class="nav-link" href="/profile"> Profile </a>
              </li>
              <li class="nav-item d-md-block d-lg-none petshow"> 
                <a class="nav-link" href="/pet_profile"> Pet Profile </a>
              </li>
              <li class="nav-item d-md-block d-lg-none settingsshow"> 
                <a class="nav-link" href="/settings"> Settings </a>
              </li>
              <li class="nav-item d-md-block d-lg-none signout">
                <a class="nav-link" href="/sign_out"> Sign Out</a>
              </li>
              <li class="nav-item d-md-block d-lg-none signin">
                <a class="nav-link" href="/sign_in"> Sign In</a>
              </li>
              
            </ul>
            
            </div>
            
            
          </div>
        </nav>
          <div class="logoLower"><a href="/"> <img src="/img/tbLogo.png" alt="Toebeans Vet Finder" class="nbar_logo" id="tblogo"> </a>
          </div>

          <script src="/js/hamburgermenu.js" defer></script>
          
      <main class="">
      
      <!-- Bootstrap Nav Bar -->
    