<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/toebeanslogo.ico">
    <title><%= title || "ToeBeans" %></title>

 

    
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Toebeans Vet Finder</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Navigation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/profile">Profile</a>
                  <a class="dropdown-item" href="/pet_profile">Pet Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/settings">Settings</a>
                </div>
              </li>
              
            </ul>
  
            <form class="form-inline my-2 my-lg-0">
              <a class="btn btn-outline-success my-2 my-sm-0" href="/sign_out" id="signUpLink">sign out</a>
              <a class="form-control mr-sm-2" href="/sign_in" id="signInLink">sign in</a>
            </form>
            </div>
          </div>
        </nav>
      <main>

        <div id="themebanner" class="bottomofscreen themebanner">
        
      </div>
      <br><br><br>
      <!-- Bootstrap Nav Bar -->
    