<%- include('includes/header') %>

    <div class="container-fluid my-5">
        <div class="d-flex justify-content-center margins">
            <div class="row d-flex justify-content-center">

                <div class="card-deck termswidth ">
                    <div class="card divboxes ">
                        <h1 class="centertext">Toebeans Vet Finder Cookie Policy</h1>
                        <p class="centertext">Last Updated: March 2025
                            <br><br>
                            Toebeans Vet Finder uses cookies in order to provide you with website functionality and improved user experience. This policy lays out our cookies and how they are used.
                        </p>
                        <br>
                        <div class="termsmargin">
                            <h3>What are Cookies?</h3>
                            <p>Cookies are small bits of text-based data created by a website that are stored on your computer that allows for functionality, remember preferences, and optimize user experience.</p>

                            <br>
                            <h3>How are our Cookies Used?</h3>
                            <p>We use cookies on the Toebeans Vet Finder website for authentication purposes, allowing users to stay logged into their account while browsing our website. <br>
                            We also use cookies for security purposes, allowing only authorized users to access certain areas of our website, such as a user's profile page.</p>
                            
                            <br>
                            <h3>Third Party Cookies</h3>
                            <p>Toebeans Vet Finder utilizes the Google Maps API, which may result in third-party cookies being set by Google.</p>

                            <br>
                            <h3>Your Choices</h3>
                            <p>This website requires the use of cookies, and by continuing to use Toebeans Vet Finder you consent to the use of cookies as described in this Cookie Policy.</p>

                            <br>
                            <h3>Policy Changes</h3>
                            <p>We may revise this Cookie Policy from time to time. By using the Website, you agree to the current version of this policy. Date of latest revision can be found at the top of this page.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>