<%- include('includes/header') %>

    <div class="container-fluid my-5">
        <div class="row">

            <!-- Separation Div -->
            <!-- <div class="col-sm-12 col-md-1"></div> -->

            <!-- Side Bar Div -->
            <!-- <div class="col-sm-12 col-md-2 c3">

            </div> -->

        

            <!-- Middle Div -->
            <div class="col-sm-12 card infocard text-center">
                <div>
                    <br>
                    <h1 class="card-title">Toebeans Vet Finder</h1>
                </div>
                <br>
                <div class="card-subtitle">
                    <h5 class="centertext card-text"> Welcome to the Toebeans Vet Finder website! </h5>
                </div>
                <br>
                <div class="card-text">
                    <p>Test!</p>
                    <p>More test!</p>
                </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>“Until one has loved an animal, a part of one’s soul remains unawakened.”</p>
                      <footer class="blockquote-footer"><cite>Anatole France</cite></footer>
                    </blockquote>
                    <img src="/img/090.JPG" class="card-img-top" alt="Small grey dog running towards camera in the snow">
                  </div>
            </div>


            <!-- Separation Div -->
            <!-- <div class="col-sm-12 col-md-3"></div> -->

        </div>
    </div>








    <%- include('includes/footer') %>