<%- include('includes/header') %>
<h1>welcome to map screen</h1>
<div id="map"></div>

<div id="mapForm">
    <label for="radius">Search Radius</label>
    <select id="radius">
        <option value="1000">1KM</option>
        <option value="2000">2KM</option>
    </select>
    <label for="openNow">Open Now</label>
    <input type="checkbox" id="openNow">
    <input type="button" value="Search for Vets" id="search">
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3an3cMi9r5yYxWfFeb1I6VzPOrkrlzgM&amp;callback=initMap&amp;libraries=places,marker&loading=async" async="true" defer="true"></script>
<script src="/js/map.js"></script>

<%- include('includes/footer') %>
