<%- include('includes/header') %>

    <div class="container-fluid">
        <div class="row">
            
            <!-- Separation Div -->
            <div class="col-sm-12 col-md-1"></div>

            <!-- Side Bar Div -->
            <div class="col-sm-12 col-md-2 c3">
                <div class="divboxes c1">
                <h5> Welcome to your pet's profile page! Here you can view and edit information about your pet, and choose what information can be set to public and printed onto your custom QR code! </h5>
                </div>
             </div>
            
            <!-- Middle Div -->
            <div class="col-sm-12 col-md-8 c2">

                <div class="d-flex justify-content-center margins">
                    <h1>Pet Profile Page</h1>
                </div>
                
                    <p class="centertext"> Pet Profile Page </p>
                    <div class="row">
                        <div class="col-8 divboxes">

                            <p>Pet name: </p>
                            <p>Pet breed: </p>
                            <p>Pet age: </p>
                            <p>Pet allergies / other info: </p>
                            <p>Owner name: </p>
                            <p>Owner Phone: </p>
                            <p>Owner Email: </p>
                            <p>Home vet name: </p>
                            <p>Home vet contact info: </p>
                        </div>
                        <div class="col-4 photodiv">test 3</div>
                    </div>
             </div>

            
             <!-- Separation Div -->
            <div class="col-sm-12 col-md-1"></div>
             
        </div>
    </div>



    



<%- include('includes/footer') %>