<%- include('includes/header') %>

    <div class="container-fluid my-5">
        <div class="d-flex justify-content-center margins">
            <div class="row d-flex justify-content-center">

                <div class="card-deck termswidth">
                    <div class="card divboxes ">
                        <h1 class="centertext">Toebeans Vet Finder Privacy Policy</h1>
                        <br>
                        <p class="centertext">Last Updated: March 2025</p>
                        <br>
                        <div class="termsmargin">
                            <p> The privacy of our users at Toebeans Vet Finder is top priority. This privacy policy
                                outlines what personal information we collect and how it is used.</p>
                            <br>
                            <h3>What Information We Collect from You</h3>
                            <p>When you create an account on Toebeans Vet Finder, we require the collection of some
                                personal information. This information includes:</p>
                            <ul>
                                <li class="listDecoration">Your name</li>
                                <li class="listDecoration">Your email address and/or phone number</li>
                                <li class="listDecoration">Your chosen username</li>
                                <li class="listDecoration">Your chosen password</li>
                            </ul>
                            <br>
                            <p>You may also choose to submit pet information, such as:</p>
                            <ul>
                                <li class="listDecoration">Your pet's name</li>
                                <li class="listDecoration">Your pet's breed</li>
                                <li class="listDecoration">Your pet's age</li>
                                <li class="listDecoration">Your pet's allergies</li>
                                <li class="listDecoration">Your pet's home veterinarian and their contact information
                                </li>
                                <li class="listDecoration">Any other information you deem necessary to include about
                                    your pet in the "other information" section of the pet profile</li>
                            </ul>
                            <br>
                            <h3>How Your Collected Information is Used</h3>
                            <p> We require use of your personal information in order to provide access to certain parts
                                of our website, and communicate with you when necessary.</p>
                            <p>We will communicate with you through the email you provide only for the purposes of:</p>
                            <ul>
                                <li class="listDecoration">Important policy changes</li>
                                <li class="listDecoration">Inquiries you send through our <a href="/contactus"> Contact
                                        Us</a> page</li>
                            </ul>
                            <br>
                            <h3>Third Party Disclosure</h3>
                            <p>We do not sell, supply, or exchange your personal information with any third parties,
                                except when required by law or to provide you with the services of our website.</p>
                            <br>
                            <h3>Policy Changes</h3>
                            <p>We may revise this Privacy Policy from time to time. By using the Website, you agree
                                to the current version of this policy. Date of latest revision can be found
                                at the top of this page.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>