<%- include('includes/header') %>

 

    <div class="container-fluid my-5">
        <div class="d-flex justify-content-center margins">
        <div class="row">

            <div class="card-deck">
            <!-- Middle Div -->
            <div class="col-lg-12 col-sm-12 card infocard text-center pt-4">

                <div>
                    <h1 class="card-title">User Settings Page</h1>
                </div>

                <!-- Theme selector -->
                <div class="card-body mx-5 pt-4 pb-4 ">
                    <div class="divboxes">
                        <br>
                        <form action="/settings" method="POST" id="themeform">
                            <label> Select a theme</label> <br>
                            <select id="theme" name="theme">
                                <option value="none"> No Theme </option>
                                <option value="dog"> Dogs 🐶 </option>
                                <option value="cat"> Cats 🐱 </option>
                                <option value="fish"> Fish 🐟 </option>
                                <option value="bird"> Birds 🐣 </option>
                                <option value="smallpet"> Small Pets 🐹</option>
                            </select>

                            <button type="submit"> Change Theme </button>

                        </form>
                        <p id="errormsg"></p>
                        <br>
                    </div>
<br>
                <!-- Favourite Vets List -->
                
                    <div class="divboxes">
                        <p> Favourite Vets List </p>
                        <div id="favourites"></div>
                    </div>
                </div>
                <br><br><br>

                <!-- Delete Account -->
                <hr>
                <div class="card-body mx-5 yx-5">
                    <div>
                        <br><br>
                        <p> WARNING! THIS IS PERMANENT </p>
                        <p>
                            <button type="submit"> Delete Your Account? </button>
                        </p>
                        <br>
                    </div>
                    <div class="col-3"></div>
                </div>



            </div>
            </div>

        </div>

        </div>
    </div>


    <script src="/js/settings.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3an3cMi9r5yYxWfFeb1I6VzPOrkrlzgM&amp;libraries=places&loading=async" async="true" defer="true"></script>
    <%- include('includes/footer') %>