<%- include('includes/header') %>

<div class="container-fluid my-5">
    
<form id="sign_in">
    <label for="user_name">UserName:</label>
    <input id="user_name" type="text">
    <label for="password">Password:</label>
    <input type="password" id="password">
    <input type="submit" id="submit">
</form>
<p>New user? <a href="/sign_up">Sign up here.</a></p>
<div id="message">

</div>
</div>
<script src="/js/sign_in.js"></script>
<%- include('includes/footer') %>