<%- include('includes/header') %>

<form id="sign_in">
    <label for="user_name">UserName:</label>
    <input id="user_name" type="text">
    <label for="password">Password:</label>
    <input type="password" id="password">
    <input type="submit" id="submit">
</form>
<div id="message">

</div>
<script src="/js/sign_in.js"></script>
<%- include('includes/footer') %>