<%- include('includes/header') %>

    <div class="container-fluid my-5">
        <div class="d-flex justify-content-center margins">
            <div class="row d-flex justify-content-center">

                <div class="card-deck termswidth ">
                    <div class="card divboxes ">
                    <h1 class="centertext">Toebeans Vet Finder Terms and Conditions</h1>
                        <br>
                    <p class="centertext">Last Updated: March 2025</p>

                    <br>
                    <div class="termsmargin">
                    <h3 >Use of this Website</h3>
                    <p> By using the Toebeans Vet Finder website:</p>
                    <ul>
                        <li class="listDecoration"> You agree not to use the Website for any illegal or unauthorized purposes. </li>
                        <li class="listDecoration"> You agree not to modify, distribute, or sell any content from this Website without written
                            permission. </li>
                    </ul>


                    <br>
                    <h3> Intellectual Property Rights </h3>
                    
                    <ul>
                        <li class="listDecoration"> The content, design, logos, and other intellectual property on this Website are owned by or
                            licensed to Toebeans Vet Finder, Christian Weersink, and Christina Jackson. </li>
                        <li class="listDecoration"> All map-related content provided by the Google Places API </li>
                        <li class="listDecoration"> You are granted a limited license only for the purpose of viewing the material on this
                            Website and generating and printing QR codes for informational purposes. </li>
                    </ul>
                    

                    <br>
                    <h3> Links to Third Party Websites </h3>
                    <p>Our Website may contain links to third-party websites. We are not responsible for the
                            content or accuracy of these external sites. 
                    </p>

                    <br>
                    <h3> Termination </h3>
                    <p> We reserve the right to terminate your access to the Website at our discretion, without
                            notice, for any reason, including breach of these terms. 
                    </p>

                    <br>
                    <h3> Limitation of Liability </h3>
                    <p>We will not be liable for any damages arising from the use of this Website or any
                            third-party content linked to from this Website.
                    </p>

                    <br>
                    <h3> Changes to These Terms </h3>
                    <p>We may revise these Terms and Conditions from time to time. By using the Website, you agree
                            to the current version of these Terms and Conditions. Date of latest revision can be found
                            at the top of this page.
                    </p>

                    <br>
                    <h3> Governing Law </h3>
                    <p>These terms are governed by and construed in accordance with the laws of Canada, and you
                            submit to the non-exclusive jurisdiction of the courts located in Canada for any disputes.
                    </p>

                    <br>
                    <h3> Contact Us </h3>
                    <p> If you have any questions about these Terms, please contact us directly through our <a href="/contactus"> Contact Us</a> page </p>
                </div></div>
            </div>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>