#map {
    height: 400px; /* Ensure this is set */
}

.divboxes {
    border-radius: 5px;
    border-style: double;
    border-color: #8fa3a6;
}


html, body {
    font-family: "PT Serif Caption", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fdfdfd;
    overflow-x: hidden;
}


.remove_hbar {
    overflow-x: auto;
    scrollbar-width: none;
}

.remove_hbar::-webkit-scrollbar {
    display: none;
}

.remove_vbar {
    overflow-y: auto;
    scrollbar-width: none;
}


.card-scroll {
    max-height: 60vh;
    overflow-y: auto;
}

.navbar {
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    height: 150px !important;
    width: 100vw;
    display: flex;
    position: relative;
}

.nbar_centre a{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    color: #173202;
    font-size: 450%;
}

.nbar_centre a:hover {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    text-shadow: -2px -2px 2px rgb(46, 46, 46), 2px -2px 2px rgb(46, 46, 46), -2px 2px 2px rgb(46, 46, 46), 2px 2px 2px rgb(46, 46, 46);
}

.nbar_logo {
    height: 150px;
    width: auto;
    padding: 0;
    margin: 0;
}

.nbar_navs {
    height: 100px;
    width: auto;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    display: flex;
    gap: 1px;
    height: 100%;
    margin-top: auto;
    padding-left: 0;
    margin: 0;
    list-style: none !important;
}

.nav-item {
    margin: 0;
    padding: 0;
    list-style: none !important;
}

.nav-link {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar-nav .nav-link:hover {
    color: #000000 !important;
    background-color: #f5fcf933;
}

.navbar-brand {
    color: #000000 !important;
}

a {
    color: #0e2512;
}

a:hover {
    color:#03571A;
}

.middledivs {
    height: 100%;
    text-align: center;
}

.photodiv {
    background-color: #DEE3DE;
    border-radius: 5px;
    text-align: center;
    width: auto;
}

.topofscreen {
    display: block;
    width: 100%;
}

.card-padding {
    padding-left: 50%;
}

.list-group-item {
    min-width: 100%;
}

#themebanner {
    transition: background 0.5s ease-in-out;
    position: sticky;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #133319, #6B7F82);
    color: white;
    margin: 0;
    padding: 0;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: 0 0;
}

.infocard {
    height: 100vh;
}


.centertext {
    text-align: center;
}

.margins {
    margin-top: 20px;
    margin-bottom: 50px;
}

.footer p, footer br {
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

footer {
    margin: 0;
	padding: 10px 0px;
    width: 100%;
}

.footercenter {
    text-align: center;
}

.alignitright {
    text-align: right;
}

#favourites{
    max-height: 30vh;
    padding-bottom: 10px;
    overflow: scroll;
}

.photodiv img{
    background-color: #DEE3DE;
    border-radius: 5px;
    height: auto;
    width: auto;
    border-style: double;
    border-color: #8fa3a6;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    
}

.pet_info{
    padding: 10px;
}

.carousel-item {
    transition: transform 1s ease-in-out;
}



.carousel-item img {
    height: 600px; 
    width: 100%; 
    object-fit: cover; 
}


.full-height {
    min-height: 100vh; /* Default: Full viewport height */
}

/* Reduce height on smaller screens */
@media (max-width: 768px) { /* Bootstrap's md breakpoint */
    .full-height {
        min-height: auto; /* Let content dictate height */
        height: auto;
    }


    
}
