/* MAP */
#map {
    height: 400px;
}

/* #region PAGE CUSTOMIZATIONS */
html,
body {
    font-family: "PT Serif Caption", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fdfdfd;
    overflow-x: hidden;
}

.margins {
    margin-top: 20px;
    margin-bottom: 50px;
}

.paddings {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

main {
    flex: 1;
}
/* #endregion */

/* #region HORIZONTAL SCROLLBAR REMOVAL */
.remove_hbar {
    overflow-x: auto;
    scrollbar-width: none;
}

.remove_hbar::-webkit-scrollbar {
    display: none;
}
/* #endregion */

/* #region NAVBAR AND HAMBURGER MENU */
.navbar {
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    height: 150px !important;
    width: 100vw;
    display: flex;
    position: fixed;
}

.navbar-collapse {
    justify-content: flex-end;
    z-index: 100;
}

.nbar_centre a:hover {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    text-shadow: -2px -2px 2px rgb(46, 46, 46), 2px -2px 2px rgb(46, 46, 46), -2px 2px 2px rgb(46, 46, 46), 2px 2px 2px rgb(46, 46, 46);
}

.nbar_logo {
    position: relative;
    height: 65px;
    width: 300px;
    left: 50%;
    transform: translate(-50%);
    z-index: 200;
    display: inline-block;

}

.logoLower {
    display: inline-block;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    z-index: 50;
}

.logoLower:hover{
    transform: scale(1.05); 
    transition: 0.3s ease-in-out;
}

.nbar_logo img {
    height: 65px;
    width: 300px;
    pointer-events: auto;
    z-index: 50;
}

nav {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.nbar_navs {
    height: 65px;
    width: auto;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    display: flex;
    gap: 1px;
    height: 100%;
    margin-top: auto;
    padding-left: 0;
    margin: 0;
    list-style: none !important;
}

.nav-item {
    margin: 0;
    padding: 5px;
    list-style: none !important;
}

.nav-link {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar-nav .nav-link:hover {
    color: #000000 !important;
    transform: scale(1.05); 
    transition: 0.3s ease-in-out;
}

.navbar-brand {
    color: #000000 !important;
}

.navbar-toggler-icon {
    background-image: url('/img/hb2.png') !important; 
    background-size: 30px 30px; 
    width: 30px;  
    height: 30px;
}

.navbar-toggler {
    padding: 0px;
    padding-left: 15px;
    border: none;
    outline: none;
}

#hbmenuscreen {
  position: fixed;
  top: 0;
  left: -100%;
  width: 35%; 
  height: auto; 
  background: white; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  padding-left: 0;
  transition: left 0.5s ease-in-out;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  pointer-events: none;
}

#hbmenuscreen.active {
    left: 0;
    z-index: 1000;
    pointer-events: auto; 
}

#hbmenuscreen .nav-link {
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    text-align: left; 
    padding-left: 20px;
    z-index: 1000; 
}

.hb-header {
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    width: 100%;
    padding: 0px !important;
    background: #bab9b9;
    border-bottom: 1px solid #0e2512;
    border-right: 1px solid #0e2512;
    z-index: 1000; 
}

.header-title {
    padding-top: 30px;
    z-index: 1000; 
    position: relative;
}

.header-title img {
    display: block;
    margin: 0 auto;
    max-width: 270px;
    height: auto;
    z-index: 1000; 
    position: relative;
}

#hb-close {
    font-size: 28px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 15px;
    transform: translateY(-50%);
    transition: color 0.3s;
    z-index: 2000; 
    pointer-events: auto;
}

#hb-close:hover {
    color: #ae030e;
    z-index: 2000; 
}

.hb-button {
    z-index: 3000;
}

#signInLink, #signUpLink {
    position: relative; 
    z-index: 2500;
}

.hidden {
    display: none !important;
}

.paddingrt {
    padding-right: 10px;
}

/* #endregion */

/* #region LINKS */
a {
    color: #0e2512;
}

a:hover {
    color: #03571A;
}

.linkunderline {
    text-decoration: underline;
}

.linkunderline:hover {
    color:#20662d;
}
/* #endregion */

/* #region DIV CUSTOMIZATION */
.middledivs {
    height: 100%;
    text-align: center;
}

.photodiv {
    background-color: #DEE3DE;
    border-radius: 5px;
    text-align: center;
    width: auto;
}

.photodiv img {
    background-color: #DEE3DE;
    border-radius: 5px;
    height: auto;
    width: auto;
    border-style: double;
    border-color: #8fa3a6;
    text-align: center;
    max-width: 100%;
    max-height: 100%;

}

.divboxes {
    border-radius: 5px;
    border-style: double;
    border-color: #8fa3a6;
}

.flourish {
    display: flex;
    position: relative;
    margin: 0 auto;
    z-index: 100;
    size: 100%;
}
/* #endregion */

/* #region CENTERING*/
.centertext {
    text-align: center;
}

.centerbp {
    list-style-position: inside;
    display: inline-block;
}
/* #endregion*/

/* #region CARDS */
.card-padding {
    padding-left: 50%;
}

.card-scroll {
    max-height: 60vh;
    overflow-y: auto;
}

.infocard {
    height: 100vh;
}

.termsmargin {
    margin: 10px;
}

.termswidth {
    width: 70%;
}

.mainpageWidth {
    width: 60%;
}
/* #endregion */

/* #region THEME / BANNER CUSTOMIZATION */
.topofscreen {
    display: block;
    width: 100%;
}

#themebanner {
    transition: background 0.5s ease-in-out;
    position: sticky;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #133319, #6B7F82);
    color: white;
    margin: 0;
    padding: 0;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: 0 0;
}


  
/* #endregion */

/* #region FOOTER */
footer {
    margin: 0;
    padding: 10px 0px;
    width: 100%;
}

.footercenter {
    text-align: center;
}

.footer p,
footer br {
    margin: 0;
    padding: 0;
}

.alignitright {
    text-align: right;
}
/* #endregion */

/* #region CAROUSEL */
.carousel-item {
    transition: transform 1s ease-in-out;
}

.carousel-item img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}
/* #endregion */

/* #region BUTTON AND LINK CUSTOMIZATION */
.buttonformat {
    background-color: #0e2512;
    color: #FFFFFF;
    border-style: none;
}

.buttonformat:hover {
    background-color: #6e8d56;
    color: #000000;
}

.sulink {
    color: #20662d;
}

.sulink:hover {
    color: #6B7F82;
}
/* #endregion */

/* #region SCREEN SIZES */
.full-height {
    min-height: 100vh;
}


/* Reduce height on smaller screens */
@media (max-width: 768px) {
    .full-height {
        min-height: auto;
        height: auto;
    }

    .navbar {
        min-height: 75px;
        display: flex;
        align-items: center;
    }

    .header-title img {
        max-width: 200px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

}

/* Mobile screen size */
@media (max-width: 480px) {
    .nbar_logo {
        height: 40px;
        max-width: 200px;
        align-items: center;
        top: 20%;
    }

}  
@media (max-width: 425px) {
    .header-title img {
        max-width: 150px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 380px) {
    .header-title img {
        max-width: 120px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}


/* Small mobile screen size */
@media (max-width: 330px) {
    .header-title img {
        max-width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .nbar_navs {
        height: 50px;
    }

    .nbar_logo {
        height: 55px;
        width: auto;
    }

}
/* #endregion */

/* #region LISTS */
#favourites {
    max-height: 30vh;
    padding-bottom: 10px;
    overflow: scroll;
}

ul {
    list-style-type: none;
}

.list-group-item {
    min-width: 100%;
}

.listDecoration {
    list-style-image: url('/img/pawblt.png');;
}

.justifiedList {
    padding-left: 10%;
}
/* #endregion */

/* NAVBAR Z-INDEX */
#navbarSupportedContent {
    z-index: 10000;
}
